<div>
    <div class="rounded row container">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 class="text-center">Enjoy Your Online Shoping With Us</h1>
            <h2 class="text-center">Get 50% 0ff for all products</h2>
        </div>
        <div class="col-lg-6">
            <div class="w-100">
                <img style="width: 100%;" src="https://dxbapps.com/blogimages/ecommerce.gif" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center gap-3 mt-2">

        <div *ngFor="let i of allProducts" class="card shadow" style="width: 16rem; border: none;">

        <a routerLink="single-view/{{i.id}}"> 
            <img [src]="i.image" class="card-img-top w-100" style="height: 250px;" alt="...">
        </a>

            <div class="card-body text-center">
                <h5 class="card-title">{{i.title.length>18?i.title.slice(0,18)+"...":i.title}}</h5>
                <p class="card-text">{{i.category}}</p>
                <h4>${{i.price}}</h4>
                <div class="d-flex justify-content-around">
                    <button (click)="addToCart(i)" class="btn btn-secondary"><i class="fa-solid fa-cart-plus"
                            style="color: #000000;"></i></button>
                    <button (click)="addToWishlist(i)" class="btn btn-secondary"><i class="fa-solid fa-heart-circle-plus"
                            style="color: #b10000;"></i></button>
                </div>
            </div>
        </div>

       
    </div>
</div>