<app-header></app-header>
<div>
    <div class="rounded row container">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 class="text-center">Enjoy Your Online Shoping With Us</h1>
            <h2 class="text-center">Get 50% 0ff for all products</h2>
        </div>
        <div class="col-lg-6">
            <div class="w-100">
                <img style="width: 100%;" src="https://dxbapps.com/blogimages/ecommerce.gif" alt="">
            </div>
        </div>
    </div>

    <div class="container d-flex flex-wrap justify-content-center align-items-center gap-3 mt-2">

        <div class="card shadow" style="width: 16rem; border: none;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqhb5dWZCjPT1ypdLVMa24Kb8koftP2X1sCg&usqp=CAU"
                class="card-img-top w-100" style="height: 250px;" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Catagory</p>
                <h4>$10</h4>
                <p class="d-flex justify-content-around">
                    <button class="btn btn-secondary"><i class="fa-solid fa-cart-plus"
                            style="color: #ffffff;"></i></button>
                    <button class="btn btn-secondary"><i class="fa-solid fa-heart-circle-plus"
                            style="color: #ffffff;"></i></button>
                </p>
            </div>
        </div>

       
    </div>
</div>